.inputWrapper {
    min-height: 60px;
}

.input {
    height: 40px;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 10px;
}

.input:focus {
    outline: none;
}

.error {
    color: #ff0000;
}