/* list styles */

.list {
    padding: 0 30%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
}

/* / list styles */

.item {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}


.image {
}

.link {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
}

.link:hover {
    color: #000000;
}



